@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@200&display=swap');


*{
padding:0;
margin:0;
box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family:  'Montserrat', sans-serif;
}

.logo img {
    width: 10%;
    height: 10%;
    display:block;
}